.mainContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.mainContainer * {
    width: 100%;
    height: 100%;
}

.mainContainer img {
    width: auto;
    height: auto;
}