.mainContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(135deg, #fe7055, #ed1450);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.mainContainer::after {
    content: "";
    background: linear-gradient(135deg, #444444, #1C1C1C);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.8s;
    opacity: 0;
}

.dark:after {
    opacity: 1;
    transition: 0.8s;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 360px;
    mask: url('../../images/logo.png');
    mask-size: contain;
    background: linear-gradient(135deg, #fe7055, #ed1450);
    z-index: 2;
    pointer-events: visibleFill;
}

.logo::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 0.8s;
    background-color: white;
}

.dark .logo:after {
    width: 0px;
    transition: 0.8s;
    height: 0px;
}