.mainContainer {
    position: relative;
    height: calc(100% - 45px);
    width: 100%;
    top: 0;
    z-index: 30;
    pointer-events: none;
    box-sizing: border-box;
}


.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 10px;
    gap: 10px;
    position: relative;
    z-index: 0;
    pointer-events: none;
    opacity: 0;
    box-sizing: border-box;
    transition: 0.2s;
}

.drag {
    display: flex;
    opacity: 1;
    pointer-events:all;
    z-index: 1;
    transition: 0.2s;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}

.slot {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background: #ffffff11;
    opacity: 1;
    transition: 0.2s;
    backdrop-filter: blur(1px);
}

.dragOn.slot {
    transition: 0.2s;
    background: #ffffff33;
}